---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import  imageEscudo from '../images/escudo-zouls.svg';
import Plantilla from '../components/plantilla.astro';
---
<Header/>
<Layout title="ZoulsGaming">
	<main>
		<section id="inicio">
			<Image class="flex items-center w-screen mt-40 size-96" src={imageEscudo} alt="escudo"/>
			<div class="mt-32">
			<h1 class="flex justify-center text-8xl origin-bottom -rotate-12 ">Zouls</h1>
			<h1 class="flex justify-center  text-8xl origin-bottom -rotate-12 text-blue-500">Gaming</h1>
			</div>
		</section>
		<section id="plantilla"class="flex  justify-center items-center mt-10">
			
			<Plantilla/>
		</section>
	</main>
</Layout>
<Footer/>


