---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<Header></Header>
<Layout title="ZoulsGaming">
	<main>
		<h1 class="text-bold  text-center mt-32">Chupalo</h1>
		<p class="text-bold  text-center">Prueba</p>
	</main>
</Layout>
<Footer></Footer>


