---
import { Image } from "astro:assets";
import imageBlanquito from '../../public/zouls-logo.svg';
import imageIg from  '../../public/instagram.svg';
import imageYt from  '../../public/youtube.svg';
import imageFc from  '../../public/facebook.svg';
---
<footer class="mt-36">
    <div class="flex flex-row justify-center items-center m-9 gap-5">
        <Image src={imageBlanquito} alt="blanquito" class="size-14 "/>
        <div class="flex flex-column w-px h-12 bg-white"></div>
        <span>ZoulsGaming</span>
    </div>

    <div class="flex flex-row justify-center gap-16 m-9">
        <a href="#inicio" class="hover:text-blue-400">Inicio</a>
        <a href="#presentacion" class="hover:text-blue-400">Plantilla</a>
        <a href="" class="hover:text-blue-400">Eventos</a>
        <a href="#contacto" class="hover:text-blue-400">Contacto</a>
    </div>
    <div class="flex flex-row  justify-around w-auto m-9">
        <div class="">
            <span>Dev. Oscar Aguiar</span>
        </div>
        <div class="flex flex-row gap-8 w-64">   
            <Image class="size-6" src={imageIg} alt="ig"/>
            <Image class="size-6" src={imageYt} alt="yt"/>
            <Image class="size-6" src={imageFc} alt="fc"/>
        </div>
        <div class="">
            <span>
                2024 
            </span>
        </div>
    </div>
</footer>

<style>
    footer{
        width: 100%;
    }
</style>