---
---

<div class="flex flex-row  w-auto h-auto gap-32 mt-20 justify-center ">
    <div class="origin-bottom -rotate-12">
        <span class="text-blue-400 ">Probando</span>
    </div>
    <div id="cuadroDescrpcion" class="flex flex-col w-60 h-auto border-solid border-white border-4 rounded-xl items-center  ">
        <span>1</span>
        <br>
        <h1 class="flex justify-center text-blue-400">Main:</h1>
        <span>2</span>
        <br>
        <h1 class="flex justify-center text-blue-400">Descripcion:</h1>
        <span>3</span>
    </div>
</div>